/*!
 *   Custom CSS styles
 *     A few of this are edited version of styles from bootstrap.min.css
 */

header {
    padding: 154px 0 100px;
}

@media (min-width: 992px) {
    header {
        padding: 200px 0 200px;
    }
}

/* padding between sections */
section {
    padding: 70px 0;
}

.header2 {
    padding: 80px 0 80px;
}

.styledFont {
    font-family: 'Source Code Pro', monospace; !important;
    text-transform: uppercase;  !important;
    font-size: small;
}

.navbar-dark{
    font-family: 'Source Code Pro', monospace; !important;
    text-transform: uppercase;  !important;
    font-size: small;
}


.bg-dark-semitransparent {
    background-color: rgba(33, 33, 33, 0.8);
}

.bg-black-semitransparent {
    background-color: rgba(0,0,0,0.71);
}

.navbar-dark .navbar-brand {
    color: #fff
}

.cat-color-backg {
    background-color: #1CBBB6;
    background-image: url("../pics/cat.png");
    background-size: 100%;
    width: 100%;
    margin-right: 10px;

}

.otherProjects-style-header{

    background-color: #353dbb;
    background-image: url("../pics/cpWP4.jpg");
    background-size: 100%;
    width: 100%;
    margin-right: 10px;
    image-rendering: smooth;
    background-position: bottom;

}

.about-style {
    background-color: #c78a40;
    text-align: left;
}

.img-left {
    border-radius: 3%;
    margin-left: 0%;
    float: left;
    margin-right: 16px;
}

.padded-left {
    padding-left: 15px;
    text-align: left;
    margin-left: 10px;
}

.padded-abit {
    padding-left: 0%
}

.app_top {
    display: table-cell;
}

.app_top img {
    float: left;
}


.about-style {
    background-color: #c78a40;
    text-align: left;
}

.verification-style {
    background-color: #1CBBB6;
    text-align: left;
}

.otherProjects-style{
    background-color: #6f42c1;
    text-align: left;
}

.futureWork-style{
    background-color: #c82333;
    text-aling: left;
}
