/*!
 *   Custom CSS styles
 *     A few of this are edited version of styles from bootstrap.min.css
 */

header {
    padding: 154px 0 100px;
    font-family: 'Source Code Pro', monospace !important;
}

@media (min-width: 992px) {
    header {
        padding: 200px 0 200px;
    }
}

/* padding between sections */
section {
    padding: 50px 0;
}

.header2 {
    padding: 80px 0 80px;
}

.styledFont {
    font-family: 'Source Code Pro', monospace !important;
}

.navbar-dark{
    font-family: 'Source Code Pro', monospace !important;
    text-transform: uppercase;
    font-size: small;
    background-color: rgba(0,0,0,0.71);
}


.bg-dark-semitransparent {
    background-color: rgba(0, 0, 0, 0.71)  !important;
}



.bg-dark-semitransparent-padded {
    background-color: rgba(0, 0, 0, 0.71)  !important;
    padding: 10px;
    padding-left: 10px !important;
    padding-right: 10px;
    border-radius: 4px;
}

.mid-image {
border-radius: 5px;
width: 100% !important;

}
.index-header {
    background-color: #1CBBB6;
    background-image: url("../pics/neon6.jpg");
    background-size: 100%;
    width: 100%;
    margin-right: 10px;

}

.otherProjects-style-header{

    background-color: #353dbb;
    background-image: url("../pics/neon3-cropped.jpg");
    background-size: 100%;
    width: 100%;
    margin-right: 10px;
    image-rendering: smooth;
    background-position: top;

}

.verification-style-text-white-header2{

    background-color: #353dbb;
    background-image: url("../pics/contracts.jpeg");
    background-size: 50%;
    width: 100%;
    margin-right: 20px;
    image-rendering: smooth;
    position: relative;

}

.dropdown {
    padding-left: 10px;
}

.color{
  color: gray;  /*Why gray?? */
  color: white;
}

.about-style {
    background-color: #c78a40;
    text-align: left;
}

.img-left {
    border-radius: 3%;
    margin-left: 0%;
    float: left;
    margin-right: 16px;
}

.padded-left {
    padding-left: 15px;
    text-align: left;
    margin-left: 10px;
}

.padded-abit {
    padding-left: 0%
}

.app_top {
    display: table-cell;
}

.app_top img {
    float: left;
}

.bg-light {
    background-color: #eeeff0 !important

}


.about-style {
    background-color: #c78a40;
    text-align: left;
}

.verification-style {
    background-color: #1CBBB6;
    background-image: url("../pics/cybWP1.png");
    background-size: 100%;
    width: 100%;
    margin-right: 10px;
    image-rendering: smooth;
    background-position: center;
}

.btn-link{
    font-family: 'Source Code Pro', monospace !important;
    font-size: medium;
    color: black;
}

.diagram{
    max-width: 100%;
    height: auto;

}

.otherProjects-style{
    background-color: #6f42c1;
    text-align: left;
}

.futureWork-style{
    background-color: #c82333;
    text-align: left;
}
